<form onsubmit="return false" class="fd-form" >
	<h2>Enter File URL </h2>
	<div class="imgD-input-container">
	<div icon="search"></div>
	<input
		type="search"
		id="website_url"
		class="fd-url"
		placeholder="File URL"
		required
	/>
	<input type="submit"
		onclick="pressed(this)"
		class="fd-button" value="Pipe" />
	</div>
	<center><input type="checkbox" name="ff" id="ff" onclick="log(this.checked)" /> <label for="ff"> Use ffmpeg </label></center>
</form>