<form class="imgD-form" id="siteURL_form">
	<h2 class="imgD-heading"> Image Downloader</h2>
	<input
		type="url"
		id="website_url"
		class="imgD-url"
		placeholder="Website URL"
		required
	/>
	<button
		onclick="pressed(this, true)"
		class="imgD-button"
	> Submit </button>
</form>

<div id="pbc" class="imgD-progress-bar-container">
</div>
<div id="dbtn">
<!--
<a id="dbtn" class="button bg-57FF49 fw-300" onclick="pressed(this, true);">Download Now</a>
-->
	Download Now !
</div>
