<form class="m p t-c bg-afe rc" id="siteURL_form">
	<h2 class="m-10px_20px rc p bnw"> Image Downloader</h2>
	<input
		type="url"
		id="website_url"
		class="p-s m bdr rc-s d-ib w-60pg t-c bb"
		placeholder="Website URL"
		required
	/>
	<button
		onclick="pressed(this, true)"
		class="p-5px_20px dnw rc-s"
	> Submit </button>
</form>

<div id="pbc" class="t-c m-s p rs-s bg-eee d-no">
</div>
<div id="dbtn">
<!--
<a id="dbtn" class="button bg-57FF49 fw-300" onclick="pressed(this, true);">Download Now</a>
-->
	Download Now !
</div>
