<div  class="index p-T-s chd-div(blrbg,bdr,d-grd,gtc-auto_80px,m,bg-eee,links,chd-a(bdr-L,p-10px_20px,m-n,hbr(dnw,rc-0px_5px_5px_0px)),rc-s,chd-div(vc,p-L))" >
	<div>
		<div>Image Downloader</div>
		<a href="/imgD"  onclick="setView('imgD'); return false;">Open</a>
	</div>
	<div>
		<div>File Manager</div>
		<a href="/fm"  onclick="setView('fm'); return false;">Open</a>
	</div>
	<div>
		<div>YTDL</div>
		<a href="/ytdl"  onclick="setView('ytdl'); return false;">Open</a>
	</div>
	<div>
		<div>NoteBook</div>
		<a href="/nb"  onclick="setView('nb'); return false;">Open</a>
	</div>
	
</div>
