<div class="bdr-B bb d-grd gtc-auto_70px p-s " id = "nbNav">
	<div id="nbPath" class="usr-no ws-nw ovrflw-scrl p-T-s" >
		Home <b> > </b> 
	</div>
	<div id="viewType" class="f-r-c bdr-L chd(h-20p,w-20p)" >
		<div icon="list" class=" p-s rc-s pos-rel" onclick="setView('list')" ></div>
		<div icon="grid" class=" midl p-s rc-s pos-rel" onclick='setView("grid")'></div>
	</div>
</div>

<div id='bookshelf' class="list">
	<div class="book">
		<div class="bookIcon">
			<div icon="mail"></div>
		</div>
		<div class="bookName" >
			<span>Help</span>
			<section class="bookMenu">
				<div>Open</div>
				<div>Settings</div>
			</section>
		</div>
	</div>
</div>

<div class="nbf m rc-s p-xxxl t-c alrt" style="display: none;">
	No Book Found !
</div>
	
	<div id="addNew">
		<div>+</div>
		<span>Add New </span>
	</div>
	
	<section id="cnb" class="DBC" style="display:none;">
		<div class="dbbg"></div>
		<div id ="bkfrm" class="DB">
			<div class= "h1">
				Create New Book
			</div>
			<div class="bookForm">
				<label > Name : </label> <input id="bn">
				<span class="bnErrPre" style="display:none;"></span><div id="bnErr" class="t-c  f p-s rc-s err d-no"> book name already exists ! </div>
				<label > Background :  </label> <input id="bbg" value="#35c">
				<label > Color :  </label> <input id="bc" value="#fff">
				<label class="midl"> Icon : </label>
				<div class="iconList">
					<div icon="list" style="background : rgb(119, 119, 119);"></div>
					<div icon="cart"></div>
					<div icon="grid"></div>
					<div icon="mail"></div>
				</div>
			</div>
			<div class="andbBtns chd(clr-fff) t-c bdr-T-1p_fff m p ">
				<button class="bg-922" onclick="pressed (this, 1, hideAllDB(200) )">Cancel</button>
				<button class="bg-293" onclick="pressed (this, 1, createNB())">Create</button>
			</div>
		</div>
	</section>
	
	
