<div id="wa-app">


<div id="chat-list">
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
	<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
</div>

<div id="new-chat-dialog">
	<input id="s-usr" placeholder="Search for Users ...">
	<div id="nco">
		<div>Online</div><div>Friend</div><div>Mutual Friend</div><div>Create New Group</div>
	</div>
	<div id="user-list">
		<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div></div>
		<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div></div>
		<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div></div>
		<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div></div>
		<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div></div>
		<div class="chat"><div class="chat-logo">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div></div>
	</div>
</div>

<div id="new-chat">+</div>

</div>