<div id="app">
	<div id="chats">
		<div class="chat">
			<div class="chat-logo" >
				<img class="user-logo" data-src="/icons/user.png" alt="user" />
			</div>
			<div class="chat-info">
				<div class="chat-name">Abhay </div>
			</div>
		</div>
	</div>
</div>