.iconList .svg-icon {
	stroke: #fff;
}

.bookshelf {
	display : flex;
	flex-wrap: wrap;
	justify-content: left;
}

.bookshelf > .grid{
	height : 140px;
	border-radius: 5px;
	margin: 5px;
	display : block;
	box-shadow: 1px 1px 0px #333,
							2px 2px 0px #fff,
							3px 3px 0px #333,
							4px 4px 0px #fff,
							5px 5px 0px #333;
	border : 1px solid;
}

.book {
	position: relative;
	opacity: 0;
	transition: 0.3s;
	top: 100px;
	width: calc(33% - 12px);
	overflow: hidden;
	background: #ccc;
}

.book > .bookIcon {
	height : 50px;
	padding-bottom: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-bottom: 1px solid;
}

.book > .bookIcon > section.bookMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: -160px;
	transition: 0.4s ;
	height: 120px;
	font-size: 15px;
	width: 100%;
	background: #333;
	color: #fff;
	border-radius: 0px 0px 5px 5px;
}

.book > .bookIcon:hover > section.bookMenu {
	top: -10px;
}

.book > .bookIcon > section.bookMenu > * {
	margin : 0px 5px;
	box-sizing : border-box;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.book > .bookIcon > section.bookMenu > *:hover {
	background: #fff;
	color: #333;
}

#addNew {
	position : fixed;
	bottom : 20px;
	right: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 1px #000;
	height : 50px;
	width: 50px;
	font-size : 40px;
	text-align: center;
}

@keyframes slide-up {
	from { top: 100px; }
	to { top : 0px;}
}