:root {
	--book-w : calc(33% - 12px);
}

@media only screen and (min-width: 600px) {
	:root {
		--book-w : calc(25% - 12px);
	}
}

.iconList .svg-icon {
	stroke: #fff;
}


.grid {
	display : flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 5px;
}

.grid > .book {
	height : 140px;
	border-radius: 5px;
	margin: 5px;
	display : block;
	box-shadow: 1px 1px 0px #333,
							2px 2px 0px #fff,
							3px 3px 0px #333,
							4px 4px 0px #fff,
							5px 5px 0px #333;
	border : 1px solid;
}

.book * {
	user-select: none;
}

.book {
	position: relative;
	opacity: 0;
	transition: 0.5s;
	top: 100px;
	overflow: hidden;
	background: #ccc;
}

.grid > .book {
	width: var(--book-w);
}

.grid > .book > .bookIcon {
	height : 50px;
	padding-bottom: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-bottom: 1px solid;
}

.grid > .book > .bookIcon > div {
	height: 40px;
	width: 40px;
}

.book > .bookName > section.bookMenu {
	transition: 0.4s ;
}

.grid > .book > .bookName > section.bookMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: -160px;
	height: 120px;
	font-size: 15px;
	width: 100%;
	left: 0;
	background: #333;
	color: #fff;
	border-radius: 0px 0px 5px 5px;
}

.grid > .book > .bookName:hover > section.bookMenu {
	top: -10px;
}

.grid > .book > .bookName > section.bookMenu > * {
	margin : 0px 5px;
	box-sizing : border-box;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.grid > .book > .bookName > section.bookMenu > *:hover {
	background: #fff;
	color: #333;
}

#addNew {
	position : fixed;
	bottom : 20px;
	right: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 1px #000;
	height : 50px;
	width: 50px;
	font-size : 40px;
	text-align: center;
	
	background: #333;
	color: #fff;
}

#addNew > div {
	position: relative;
	top: -3px;
}

@keyframes slide-up {
	from { top: 100px; }
	to { top : 0px;}
}

/*
 t-c m-xs bb wwrp-brkw h-50p ovrflw-scrl
*/

.grid .bookName {
	text-align: center;
	margin: 2px;
	height: 50px;
	box-sizing : border-box;
}

.bookName {
	box-sizing: border-box;
	word-wrap: break-word;
	overflow: scroll;
}

.list {
	display : flex;
	flex-direction: column;
	padding-top: 5px;
}

.list > .book {
	display : grid;
	grid-template-columns: 50px auto;
	border-radius: 5px;
	position: relative;
	margin: 5px 5px 0px 5px;
	box-shadow: 0px 3px 0px #555;
}

.list .bookMenu  {
	position: absolute;
	right: -200px;
	top: 0;
	background: #333;
	color: #fff;
	display : flex;
	justify-content: center;
	height: 100%;
}

.list .bookMenu > * {
	display : flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
	transition: 0.2s;
}

.list .bookMenu > *:nth-child(2) {
	border-left: 1px solid #ddd;
}

.list .bookMenu > *:hover {
	background: #ddd;
	color: #333;
}

.list .bookIcon{
	padding: 0px 0px;
}

.list .bookIcon > div {
	--svg-size : 30px;
	height : var(--svg-size);
	width: var(--svg-size);
	margin: 5px;
}

.list .bookName:hover > .bookMenu {
	right: 0;
}

.list .bookName {
	display : flex;
	flex-direction: column;
	justify-content: center;
	border-left: 1px solid;
	margin: 3px;
	padding-left: 10px;
}

.list > .book > .bookIcon > div {
	--icon-size : 40px
	height: var(--icon-size);
	width: var(--icon-size);
}

div#cnb {
	display : flex;
	justify-content: center;
	align-items: center;
	height : 100vh;
	width : 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#bkfrm {
	opacity: 1;
	position: relative;
	top: -100px;
	transition: 0.2s;
	z-index: 2;
	width: calc(100% - 10px);
	margin: 5px;
	box-sizing: border-box;
	background-color: #333;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#bkfrm > .h1 {
	text-align: center;
	border-bottom: 1px solid;
	padding: 10px;
}

.dbbg {
	z-index: 0px;
	transition: 0.2s;
	backdrop-filter: blur(5px);
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.bookForm > input {
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}

.bookForm {
	margin: 10px;
	text-align: center;
	display: grid;
	grid-template-columns: 100px auto;
	grid-gap: 10px;
}

.iconList {
	overflow: scroll;
	text-align: center;
}

.iconList > * {
	border-radius: 5px;
	display: inline-block;
	height: 20px;
	width: 20px;
	padding: 5px;
}




