@media (prefers-color-scheme: dark) {
	#hmbgr > hr {
		background: #ccc;
	}
	
	body {
		color: #ccc;
		--hover-clr : #222;
		--bg-clr : #111;
		--svg-fill-clr:  #eee;
		
		--lid-bg: #555;
		--lid-clr : #ccc;
	}
}

@media (prefers-color-scheme: light) {
	body {
		color: #333;
		--hover-clr : #ddd;
		--bg-clr: #eee;
		--svg-fill-clr:  #111;
		
		--lid-bg: #333;
		--lid-clr : #ccc;
	}
}
