@media (prefers-color-scheme: dark) {
	#hmbgr > hr {
		background: #ccc;
	}
	
	body {
		color: #ccc;
		--hover-clr : #222;
		--bg-clr : #333;
	}
}

@media (prefers-color-scheme: light) {
	body {
		color: #333;
		--hover-clr : #eee;
	}
}
