#sidePanel {
	width: 0px;
	border-right: 0px solid;
	position: fixed;
	height: 100vh;
	transition: 0.5s;
	overflow: hidden;
	top: 53px;
	left: 0;
	z-index: 9999;
	background: #333;
	color: #fff;
}


/*
	dnl-bg dnl-ch top-53p left-0p zi-999999 chd(crsr-pntr)
*/


#sidePanel > .item {
	display: block;
	padding: 10px 20px;
	border-left: 3px solid cornFlowerBlue;
	margin-top: 3px;
	min-width: 119px;
	cursor: pointer;
}