#sidePanel {
	width: 200px;
	border-right: 0px solid;
	position: fixed;
	height: 100vh;
	transition: 0.5s;
	overflow: hidden;
	top: 50px;
	left: 0;
	z-index: 9999;
	background: #333;
	color: #fff;
	transform: translateX(-250px);
}

#sidePanel > .item {
	display: block;
	padding: 10px 20px;
	border-left: 3px solid cornFlowerBlue;
	margin-top: 3px;
	min-width: 119px;
	cursor: pointer;
}

#sidePanel > .item:hover {
	background: #eee;
	color: #333;
}