:root {
	--chat-height: 40px;
}

.chat {
	hieght: var(--chat-height);
	width: 100vw;
	padding: 5px;
	display: grid;
	grid-template-columns: 40px auto;
	background: #eef;
	box-sizing: border-box;
	position: relative;
}

.chat-logo {
	position: relative;
	height: var(--chat-height);
	width: var(--chat-height);
	top: calc(50% - var(--chat-height) / 2);
	background: #fff;
	border-radius: 50%;
}

.user-logo {
	position: relative;
	height: 100%;
	width: 100%;
}

.chat-info {
	padding: 8px 0 0 10px;
	font-size: 18px;
}



