.svg-icon {
	width: 100%;
	height: 100%;
	stroke: #333;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: #333;
}

.svg-icon circle {
	stroke: #4691f6;
	stroke-width: 1;
}

div[icon="user"] > svg {
	--stroke-size: 3;
	--size: 100%;
	height: var(--size);
	width: var(--size);
	border-radius: 5px;
	background: none;
}

div[icon="user"] > svg * {
	stroke-width: var(--stroke-size);
	stroke: var(--svg-fill-clr);
	fill: none;
	stroke-linecap: round;
}
